#top_Bar {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    text-decoration:underline solid;
    border-bottom: 2px solid black;
    padding: 2rem;
}
#content {
    padding: 2rem;
}
.entry {
    display: grid;
    width: 100%;
    padding: 0.25rem;
    grid-template-columns: 20% 80%;
}

.entry-title {
    grid-column: 2; 
    color: rgb(3, 3, 94);
    text-decoration: underline solid;
    font-size: 2rem;
    padding-bottom: 1rem; 
}

.entry-img {
    grid-column: 1;
    padding: 5%;
    width: 80%;
}

.entry-content {
    grid-column: 2;
    font-size: 1.25rem;
}
.extra-img {
    width: 20px;
    height: 20px;
}