html,body {
    overflow-x: hidden;
}
#PageContainer {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    width: 90vw;
    height: fit-content;
    justify-content: center;
    align-items: baseline;
    background: transparent;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#Page {
    width: 90vw;
    box-sizing: border-box;
    padding-top:1rem;
    padding-bottom:1rem;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
    height: fit-content;
    transition: all 0.2s ease-out;
    display: block;
    box-shadow: 4px 4px 0px rgb(186, 186, 186);
    backface-visibility: hidden;
    padding: 1rem;
}
.loadable {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top:1rem;
    padding-bottom:1rem;
}
.title {
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}
.mainTitle {
    font-weight: 700;
    font-size: 1.75rem;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}
.title:hover, .mainTitle:hover {
    transform: scale(1.1);
}
.buttons {
    background-color: red;
}
table, td {
  border: 1px solid black;
  border-collapse: collapse; 
  padding: 8px;
}
ul, il {
    text-align: left;
}