html,body {
    width: 100vw;
    min-height: 100dvh;
    background-color: rgba(180, 27, 201, 0.167);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#Background {
    position: fixed;
    width: 100vw;
    min-height: 100dvh;
    background-image: linear-gradient(to bottom, rgb(45, 0, 45), black);
}

/* Foreground */

#Forground {
    position: relative;
    z-index: 1000;
    width: 100vw;
    min-height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.popUp {
    width: max(40vw,400px);
    height: max(30dvh,300px);
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);
    text-align: center;
    border-radius: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    width: max(40vw,400px);
    height: max(30dvh,300px);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;

}

.button {
    background-color: beige;
    border-radius: 5rem;
    box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.19);
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    font-family: monospace;
}
.button:hover {
    text-shadow: 0 0 1px white;
    transform: scale(1.05);
}